:root {
  --ion-color-primary: #007bff;
  --ion-color-dark: #000;
  --ion-color-light: #fff;
}

ion-content {
  --background: #000; 
  --padding-bottom: 70px; 
}

/* --- Cabeçalho e Títulos --- */
.logo-header {
  padding-top: 20px;
  padding-bottom: 10px;
  text-align: center;
}

.app-logo {
  max-width: 150px; 
  height: auto;
  margin-bottom: 10px;
}

.welcome-message {
  color: #c9c9c9;
  font-size: 1.5rem;
  font-weight: 300;
  margin-bottom: 20px;
}


/* --- Detalhes do Endereço --- */
.address-details {
    text-align: center;
    color: var(--ion-color-light);
    margin-top: 20px; // Espaço após o mapa
}



.address-line {
    color: #fff; // Branco puro
    opacity: 1.0; // Opacidade total
    font-size: 1.1rem;
    font-weight: 600;
    line-height: 1.4;
    margin-bottom: 15px;
}

.ref-title {
    color: #fff; // Branco puro
    opacity: 1.0; // Opacidade total
    font-size: 1rem;
    font-weight: 300;
    color: #c9c9c9;
    margin-bottom: 5px;
}

.reference-point {
    color: #fff; // Branco puro
    opacity: 1.0; // Opacidade total
    font-size: 1rem;
    font-weight: 700;
    margin-bottom: 25px;
}

/* --- Mapa --- */
.map-container {
    // Garante que o container do mapa tenha a largura total
    width: 100%;
    
    // Adicione um pequeno padding lateral ou top/bottom se necessário, 
    // mas 100% de largura já preenche a tela
    padding: 0 0 15px 0; 
}

/* --- Barra de Navegação (Footer) --- */

ion-footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  --background: transparent; 
}

.footer-toolbar {
  --background: #000;
  padding: 0;
}

.footer-icons {
  display: flex;
  justify-content: space-around;
  padding: 8px 0;
  background: #000; 
  border-top: 1px solid #1a1a1a;
}

.nav-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  color: #fff;
  font-size: 0.7rem;
  opacity: 0.6;
}

.nav-item.active {
  opacity: 1;
  color: var(--ion-color-primary); 
}

.icon-circle {
  width: 40px; 
  height: 40px;
  border-radius: 50%;
  background: var(--ion-color-light); 
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2px;
  box-shadow: none; 
}

.menu-icon {
  width: 25px;
  height: 25px;
  color: var(--ion-color-dark); 
}